/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import * as z from "zod/v4-mini";
import { AttioCore } from "../core.js";
import { encodeJSON, encodeSimple } from "../lib/encodings.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { AttioError } from "../models/errors/attio-error.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/http-client-errors.js";
import * as errors from "../models/errors/index.js";
import { ResponseValidationError } from "../models/errors/response-validation-error.js";
import { SDKValidationError } from "../models/errors/sdk-validation-error.js";
import * as operations from "../models/operations/index.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Create an attribute
 *
 * @remarks
 * Creates a new attribute on either an object or a list.
 *
 * For record-reference attributes, you can optionally create a bidirectional relationship by providing a `relationship` object. This will create two entangled attributes: one on the specified object and a reverse attribute on the related object.
 *
 * To create an attribute on an object, you must also have the `object_configuration:read-write` scope.
 *
 * To create an attribute on a list, you must also have the `list_configuration:read-write` scope.
 */
export function attributesPostV2TargetIdentifierAttributes(
  client: AttioCore,
  request: operations.PostV2TargetIdentifierAttributesRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    operations.PostV2TargetIdentifierAttributesResponse,
    | errors.PostV2TargetIdentifierAttributesValidationTypeError
    | errors.PostV2TargetIdentifierAttributesNotFoundError
    | errors.PostV2TargetIdentifierAttributesSlugConflictError
    | AttioError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    request,
    options,
  ));
}

async function $do(
  client: AttioCore,
  request: operations.PostV2TargetIdentifierAttributesRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      operations.PostV2TargetIdentifierAttributesResponse,
      | errors.PostV2TargetIdentifierAttributesValidationTypeError
      | errors.PostV2TargetIdentifierAttributesNotFoundError
      | errors.PostV2TargetIdentifierAttributesSlugConflictError
      | AttioError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const parsed = safeParse(
    request,
    (value) =>
      z.parse(
        operations.PostV2TargetIdentifierAttributesRequest$outboundSchema,
        value,
      ),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = encodeJSON("body", payload.body, { explode: true });

  const pathParams = {
    identifier: encodeSimple("identifier", payload.identifier, {
      explode: false,
      charEncoding: "percent",
    }),
    target: encodeSimple("target", payload.target, {
      explode: false,
      charEncoding: "percent",
    }),
  };

  const path = pathToFunc("/v2/{target}/{identifier}/attributes")(pathParams);

  const headers = new Headers(compactMap({
    "Content-Type": "application/json",
    Accept: "application/json",
  }));

  const secConfig = await extractSecurity(client._options.oauth2);
  const securityInput = secConfig == null ? {} : { oauth2: secConfig };
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    options: client._options,
    baseURL: options?.serverURL ?? client._baseURL ?? "",
    operationID: "post_/v2/{target}/{identifier}/attributes",
    oAuth2Scopes: null,

    resolvedSecurity: requestSecurity,

    securitySource: client._options.oauth2,
    retryConfig: options?.retries
      || client._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "POST",
    baseURL: options?.serverURL,
    path: path,
    headers: headers,
    body: body,
    userAgent: client._options.userAgent,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    errorCodes: ["400", "404", "409", "4XX", "5XX"],
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const responseFields = {
    HttpMeta: { Response: response, Request: req },
  };

  const [result] = await M.match<
    operations.PostV2TargetIdentifierAttributesResponse,
    | errors.PostV2TargetIdentifierAttributesValidationTypeError
    | errors.PostV2TargetIdentifierAttributesNotFoundError
    | errors.PostV2TargetIdentifierAttributesSlugConflictError
    | AttioError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.json(
      200,
      operations.PostV2TargetIdentifierAttributesResponse$inboundSchema,
    ),
    M.jsonErr(
      400,
      errors.PostV2TargetIdentifierAttributesValidationTypeError$inboundSchema,
    ),
    M.jsonErr(
      404,
      errors.PostV2TargetIdentifierAttributesNotFoundError$inboundSchema,
    ),
    M.jsonErr(
      409,
      errors.PostV2TargetIdentifierAttributesSlugConflictError$inboundSchema,
    ),
    M.fail("4XX"),
    M.fail("5XX"),
  )(response, req, { extraFields: responseFields });
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
