/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import * as z from "zod/v4-mini";
import { AttioCore } from "../core.js";
import { encodeFormQuery, encodeSimple } from "../lib/encodings.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { AttioError } from "../models/errors/attio-error.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/http-client-errors.js";
import * as errors from "../models/errors/index.js";
import { ResponseValidationError } from "../models/errors/response-validation-error.js";
import { SDKValidationError } from "../models/errors/sdk-validation-error.js";
import * as operations from "../models/operations/index.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * List attribute values for a list entry
 *
 * @remarks
 * Gets all values for a given attribute on a list entry. This endpoint has the ability to return all historic values using the `show_historic` query param. Historic values are sorted from oldest to newest (by `active_from`).
 *
 * Required scopes: `list_entry:read`, `list_configuration:read`.
 */
export function entriesGetV2ListsListEntriesEntryIdAttributesAttributeValues(
  client: AttioCore,
  request:
    operations.GetV2ListsListEntriesEntryIdAttributesAttributeValuesRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    operations.GetV2ListsListEntriesEntryIdAttributesAttributeValuesResponse,
    | errors.GetV2ListsListEntriesEntryIdAttributesAttributeValuesNotFoundError
    | AttioError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    request,
    options,
  ));
}

async function $do(
  client: AttioCore,
  request:
    operations.GetV2ListsListEntriesEntryIdAttributesAttributeValuesRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      operations.GetV2ListsListEntriesEntryIdAttributesAttributeValuesResponse,
      | errors.GetV2ListsListEntriesEntryIdAttributesAttributeValuesNotFoundError
      | AttioError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const parsed = safeParse(
    request,
    (value) =>
      z.parse(
        operations
          .GetV2ListsListEntriesEntryIdAttributesAttributeValuesRequest$outboundSchema,
        value,
      ),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = null;

  const pathParams = {
    attribute: encodeSimple("attribute", payload.attribute, {
      explode: false,
      charEncoding: "percent",
    }),
    entry_id: encodeSimple("entry_id", payload.entry_id, {
      explode: false,
      charEncoding: "percent",
    }),
    list: encodeSimple("list", payload.list, {
      explode: false,
      charEncoding: "percent",
    }),
  };

  const path = pathToFunc(
    "/v2/lists/{list}/entries/{entry_id}/attributes/{attribute}/values",
  )(pathParams);

  const query = encodeFormQuery({
    "limit": payload.limit,
    "offset": payload.offset,
    "show_historic": payload.show_historic,
  });

  const headers = new Headers(compactMap({
    Accept: "application/json",
  }));

  const secConfig = await extractSecurity(client._options.oauth2);
  const securityInput = secConfig == null ? {} : { oauth2: secConfig };
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    options: client._options,
    baseURL: options?.serverURL ?? client._baseURL ?? "",
    operationID:
      "get_/v2/lists/{list}/entries/{entry_id}/attributes/{attribute}/values",
    oAuth2Scopes: null,

    resolvedSecurity: requestSecurity,

    securitySource: client._options.oauth2,
    retryConfig: options?.retries
      || client._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "GET",
    baseURL: options?.serverURL,
    path: path,
    headers: headers,
    query: query,
    body: body,
    userAgent: client._options.userAgent,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    errorCodes: ["404", "4XX", "5XX"],
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const responseFields = {
    HttpMeta: { Response: response, Request: req },
  };

  const [result] = await M.match<
    operations.GetV2ListsListEntriesEntryIdAttributesAttributeValuesResponse,
    | errors.GetV2ListsListEntriesEntryIdAttributesAttributeValuesNotFoundError
    | AttioError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.json(
      200,
      operations
        .GetV2ListsListEntriesEntryIdAttributesAttributeValuesResponse$inboundSchema,
    ),
    M.jsonErr(
      404,
      errors
        .GetV2ListsListEntriesEntryIdAttributesAttributeValuesNotFoundError$inboundSchema,
    ),
    M.fail("4XX"),
    M.fail("5XX"),
  )(response, req, { extraFields: responseFields });
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
