/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import * as z from "zod/v4-mini";
import { AttioCore } from "../core.js";
import { encodeJSON, encodeSimple } from "../lib/encodings.js";
import { matchStatusCode } from "../lib/http.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { AttioBaseError } from "../models/errors/attio-base-error.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/http-client-errors.js";
import * as errors from "../models/errors/index.js";
import { ResponseValidationError } from "../models/errors/response-validation-error.js";
import { SDKValidationError } from "../models/errors/sdk-validation-error.js";
import * as operations from "../models/operations/index.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Write list entry attribute values
 *
 * @remarks
 * Replaces the entire value history of a single attribute on a list entry, primarily to migrate historic data from an external source. Every value the attribute currently has is destroyed, including values not present in the request, and the supplied values are written with the `active_from` and `active_until` timestamps given.
 *
 * Values may be supplied in any order and gaps between intervals are allowed. For attributes that accept a single value, at most one value may be active at a time, so intervals may not overlap and at most one may have a `null` `active_until`. At least one value is required.
 *
 * Webhooks and workflow triggers do not fire for these writes, so migrating history does not replay automations. Search indexes and caches are still updated, and formula attributes that depend on this attribute are still recalculated.
 *
 * Value history cannot be written for relationship attributes, formula attributes, enriched attributes, or immutable system attributes such as the entry's parent record.
 *
 * This endpoint is in beta. We will aim to avoid breaking changes, but small updates may be made as we roll out to more users.
 *
 * Required scopes: `list_entry:read-write`, `list_configuration:read`.
 */
export function entriesPutV2ListsListEntriesEntryIdAttributesAttributeValues(
  client: AttioCore,
  request:
    operations.PutV2ListsListEntriesEntryIdAttributesAttributeValuesRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    operations.PutV2ListsListEntriesEntryIdAttributesAttributeValuesResponse,
    | errors.PutV2ListsListEntriesEntryIdAttributesAttributeValuesBadRequestInvalidRequestError
    | errors.PutV2ListsListEntriesEntryIdAttributesAttributeValuesAuthError
    | errors.PutV2ListsListEntriesEntryIdAttributesAttributeValuesNotFoundInvalidRequestError
    | AttioBaseError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    request,
    options,
  ));
}

async function $do(
  client: AttioCore,
  request:
    operations.PutV2ListsListEntriesEntryIdAttributesAttributeValuesRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      operations.PutV2ListsListEntriesEntryIdAttributesAttributeValuesResponse,
      | errors.PutV2ListsListEntriesEntryIdAttributesAttributeValuesBadRequestInvalidRequestError
      | errors.PutV2ListsListEntriesEntryIdAttributesAttributeValuesAuthError
      | errors.PutV2ListsListEntriesEntryIdAttributesAttributeValuesNotFoundInvalidRequestError
      | AttioBaseError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const parsed = safeParse(
    request,
    (value) =>
      z.parse(
        operations
          .PutV2ListsListEntriesEntryIdAttributesAttributeValuesRequest$outboundSchema,
        value,
      ),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = encodeJSON("body", payload.body, { explode: true });

  const pathParams = {
    attribute: encodeSimple("attribute", payload.attribute, {
      explode: false,
      charEncoding: "percent",
    }),
    entry_id: encodeSimple("entry_id", payload.entry_id, {
      explode: false,
      charEncoding: "percent",
    }),
    list: encodeSimple("list", payload.list, {
      explode: false,
      charEncoding: "percent",
    }),
  };
  const path = pathToFunc(
    "/v2/lists/{list}/entries/{entry_id}/attributes/{attribute}/values",
  )(pathParams);

  const headers = new Headers(compactMap({
    "Content-Type": "application/json",
    Accept: "application/json",
  }));

  const secConfig = await extractSecurity(client._options.oauth2);
  const securityInput = secConfig == null ? {} : { oauth2: secConfig };
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    options: client._options,
    baseURL: options?.serverURL ?? client._baseURL ?? "",
    operationID:
      "put_/v2/lists/{list}/entries/{entry_id}/attributes/{attribute}/values",
    oAuth2Scopes: null,

    resolvedSecurity: requestSecurity,

    securitySource: client._options.oauth2,
    retryConfig: options?.retries
      || client._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "PUT",
    baseURL: options?.serverURL,
    path: path,
    headers: headers,
    body: body,
    userAgent: client._options.userAgent,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    isErrorStatusCode: (statusCode: number) =>
      matchStatusCode({ status: statusCode } as Response, ["4XX", "5XX"]),
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const responseFields = {
    HttpMeta: { Response: response, Request: req },
  };

  const [result] = await M.match<
    operations.PutV2ListsListEntriesEntryIdAttributesAttributeValuesResponse,
    | errors.PutV2ListsListEntriesEntryIdAttributesAttributeValuesBadRequestInvalidRequestError
    | errors.PutV2ListsListEntriesEntryIdAttributesAttributeValuesAuthError
    | errors.PutV2ListsListEntriesEntryIdAttributesAttributeValuesNotFoundInvalidRequestError
    | AttioBaseError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.json(
      200,
      operations
        .PutV2ListsListEntriesEntryIdAttributesAttributeValuesResponse$inboundSchema,
    ),
    M.jsonErr(
      400,
      errors
        .PutV2ListsListEntriesEntryIdAttributesAttributeValuesBadRequestInvalidRequestError$inboundSchema,
    ),
    M.jsonErr(
      403,
      errors
        .PutV2ListsListEntriesEntryIdAttributesAttributeValuesAuthError$inboundSchema,
    ),
    M.jsonErr(
      404,
      errors
        .PutV2ListsListEntriesEntryIdAttributesAttributeValuesNotFoundInvalidRequestError$inboundSchema,
    ),
    M.fail("4XX"),
    M.fail("5XX"),
  )(response, req, { extraFields: responseFields });
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
