/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import * as z from "zod/v4-mini";
import { AttioCore } from "../core.js";
import { encodeJSON, encodeSimple } from "../lib/encodings.js";
import { matchStatusCode } from "../lib/http.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { AttioBaseError } from "../models/errors/attio-base-error.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/http-client-errors.js";
import * as errors from "../models/errors/index.js";
import { ResponseValidationError } from "../models/errors/response-validation-error.js";
import { SDKValidationError } from "../models/errors/sdk-validation-error.js";
import * as operations from "../models/operations/index.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Merge two records
 *
 * @remarks
 * Merges two records of the same object together. Where both records have a value for the same attribute, the primary record's value takes precedence.
 *
 * Merging produces a **new** record, so the `new_record_id` returned will match neither of the records supplied in the request. Both of the original records are marked as merged and can no longer be read or written.
 *
 * Large merges are completed asynchronously. A `200` response means the merged record is readable immediately. A `202` response means the merge has been accepted but is still being applied, and reading the merged record will return a `404` with the `merge_in_progress` error code until it completes.
 *
 * This endpoint is not idempotent. Because both original records are marked as merged, repeating the same request returns `404`.
 *
 * This endpoint is rate limited to 5 requests per second.
 *
 * This endpoint is in beta. We will aim to avoid breaking changes, but small updates may be made as we roll out to more users.
 *
 * Required scopes: `record_permission:read-write`, `object_configuration:read`.
 */
export function recordsPostV2ObjectsObjectRecordsMerge(
  client: AttioCore,
  request: operations.PostV2ObjectsObjectRecordsMergeRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    operations.PostV2ObjectsObjectRecordsMergeResponse,
    | errors.PostV2ObjectsObjectRecordsMergeBadRequestInvalidRequestError
    | errors.PostV2ObjectsObjectRecordsMergeAuthError
    | errors.PostV2ObjectsObjectRecordsMergeNotFoundInvalidRequestError
    | AttioBaseError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    request,
    options,
  ));
}

async function $do(
  client: AttioCore,
  request: operations.PostV2ObjectsObjectRecordsMergeRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      operations.PostV2ObjectsObjectRecordsMergeResponse,
      | errors.PostV2ObjectsObjectRecordsMergeBadRequestInvalidRequestError
      | errors.PostV2ObjectsObjectRecordsMergeAuthError
      | errors.PostV2ObjectsObjectRecordsMergeNotFoundInvalidRequestError
      | AttioBaseError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const parsed = safeParse(
    request,
    (value) =>
      z.parse(
        operations.PostV2ObjectsObjectRecordsMergeRequest$outboundSchema,
        value,
      ),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = encodeJSON("body", payload.body, { explode: true });

  const pathParams = {
    object: encodeSimple("object", payload.object, {
      explode: false,
      charEncoding: "percent",
    }),
  };
  const path = pathToFunc("/v2/objects/{object}/records/merge")(pathParams);

  const headers = new Headers(compactMap({
    "Content-Type": "application/json",
    Accept: "application/json",
  }));

  const secConfig = await extractSecurity(client._options.oauth2);
  const securityInput = secConfig == null ? {} : { oauth2: secConfig };
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    options: client._options,
    baseURL: options?.serverURL ?? client._baseURL ?? "",
    operationID: "post_/v2/objects/{object}/records/merge",
    oAuth2Scopes: null,

    resolvedSecurity: requestSecurity,

    securitySource: client._options.oauth2,
    retryConfig: options?.retries
      || client._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "POST",
    baseURL: options?.serverURL,
    path: path,
    headers: headers,
    body: body,
    userAgent: client._options.userAgent,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    isErrorStatusCode: (statusCode: number) =>
      matchStatusCode({ status: statusCode } as Response, ["4XX", "5XX"]),
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const responseFields = {
    HttpMeta: { Response: response, Request: req },
  };

  const [result] = await M.match<
    operations.PostV2ObjectsObjectRecordsMergeResponse,
    | errors.PostV2ObjectsObjectRecordsMergeBadRequestInvalidRequestError
    | errors.PostV2ObjectsObjectRecordsMergeAuthError
    | errors.PostV2ObjectsObjectRecordsMergeNotFoundInvalidRequestError
    | AttioBaseError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.json(
      200,
      operations.PostV2ObjectsObjectRecordsMergeResponse$inboundSchema,
    ),
    M.json(
      202,
      operations.PostV2ObjectsObjectRecordsMergeResponse$inboundSchema,
    ),
    M.jsonErr(
      400,
      errors
        .PostV2ObjectsObjectRecordsMergeBadRequestInvalidRequestError$inboundSchema,
    ),
    M.jsonErr(
      403,
      errors.PostV2ObjectsObjectRecordsMergeAuthError$inboundSchema,
    ),
    M.jsonErr(
      404,
      errors
        .PostV2ObjectsObjectRecordsMergeNotFoundInvalidRequestError$inboundSchema,
    ),
    M.fail("4XX"),
    M.fail("5XX"),
  )(response, req, { extraFields: responseFields });
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
